.App {
  width: 90%;
  margin: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.post,
.postsForm {
  border: 1px solid lightgray;
  padding: 10px;
  margin: 5px 0;
}

.nav-item {
  margin-left: 10px;
}

.post-comments {
  border: 1px dotted black;
}
